<%= form_with model: @course, local: true, class: "mt-4" do |form| %>
  <div class="mb-3">
    <%= form.label :course_name, class: "form-label" %><br>
    <%= form.text_field :course_name, class: "form-control" %>
    <% @course.errors.full_messages_for(:course_name).each do |message| %>
      <div class="text-danger mt-1"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :teacher_name, class: "form-label" %><br>
    <%= form.text_area :teacher_name, class: "form-control" %>
    <% @course.errors.full_messages_for(:teacher_name).each do |message| %>
      <div class="text-danger mt-1"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :course_description, class: "form-label" %><br>
    <%= form.text_area :course_description, class: "form-control" %>
    <% @course.errors.full_messages_for(:course_description).each do |message| %>
      <div class="text-danger mt-1"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Save Course", class: "btn btn-primary" %>
  </div>
<% end %>