<%= form_with model: @course do |form| %>
  <div>
    <%= form.label :course_name %><br>
    <%= form.text_field :course_name %>
    <% @course.errors.full_messages_for(:course_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :teacher_name %><br>
    <%= form.text_area :teacher_name %>
    <% @course.errors.full_messages_for(:teacher_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :course_description %><br>
    <%= form.text_area :course_description %>
    <% @course.errors.full_messages_for(:course_description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <%= form.fields_for :units do |unit_form| %>
    <div>
      <%= unit_form.label :unit_name %>
      <%= unit_form.text_field :unit_name %>

      <%= unit_form.label :unit_description %>
      <%= unit_form.text_area :unit_description %>

      <%= unit_form.label :unit_content %>
      <%= unit_form.text_area :unit_content %>

      <%= unit_form.hidden_field :position %>
      <%= unit_form.check_box :_destroy %> Remove
    </div>
  <% end %>

  <%# <%= link_to_add_fields "Add Unit", form, :units %> %>

  <div>
    <%= form.submit %>
  </div>
<% end %>