<div class="container mt-4">
  <h1 class="mb-4">List of Courses</h1>
  <h5 class="text-muted mb-4">Click the course name to see more details about the course and its units' information.</h5>

  <ul>
    <% @courses.each do |course| %>
      <li class="mb-3">
        <strong><%= link_to course.course_name, course, class: "text-decoration-none text-primary" %></strong>

        <% if course.units.any? %>
          <ul class="mt-2" data-update-url="<%= sort_course_units_path(course) %>">
            <% course.units.order(:position).each do |unit| %>
              <li id="<%= unit.id %>" class="ms-3">
                <%= unit.unit_name %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="text-muted mt-2 ms-3">No units available for this course.</p>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Add a Course", new_course_path, class: "btn btn-primary mt-4" %>
</div>
