<h1><%= @course.course_name %></h1>

<hr>

<h2>Course Description</h2>
<p><%= @course.course_description %></p>

<h2>Teacher</h2>
<p><%= @course.teacher_name %></p>

<h2>Units</h2>
<%# <%= render @course.units %>
<ul>
  <% @units.each do |unit| %>
    <%= render partial: "units/unit", locals: { unit: unit, course: @course } %>
  <% end %>
</ul>

<hr>

<h2>Add/Edit Unit</h2>
<%= render partial: "units/form", locals: { course: @course, unit: @unit || @course.units.build } %>

