<%= form_with model: [ course, unit ] do |form| %>
  <div>
    <%= form.label :unit_name %><br>
    <%= form.text_field :unit_name %>
    <% unit.errors.full_messages_for(:unit_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :unit_description %><br>
    <%= form.text_area :unit_description %>
    <% unit.errors.full_messages_for(:unit_description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :unit_content %><br>
    <%= form.text_area :unit_content %>
    <% unit.errors.full_messages_for(:unit_content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
